<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"cryo-singlePost","layout":{"type":"constrained"}} -->
<main class="wp-block-group cryo-singlePost">

  <!-- wp:shortcode -->
  [cryo_post_header]
  <!-- /wp:shortcode -->

  <!-- wp:group {"className":"cryo-singlePost__featured","layout":{"type":"constrained"}} -->
  <div class="wp-block-group cryo-singlePost__featured">
    <!-- wp:post-featured-image {"align":"wide","className":"cryo-singlePost__image"} /-->
  </div>
  <!-- /wp:group -->

  <!-- wp:group {"className":"cryo-singlePost__content","layout":{"type":"constrained"}} -->
  <div class="wp-block-group cryo-singlePost__content">
    <!-- wp:post-content /-->
  </div>
  <!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:group {"className":"cryo-relatedPostsWrap","layout":{"type":"default"}} -->
<div class="wp-block-group cryo-relatedPostsWrap">
  <!-- wp:shortcode -->
  [cryo_related_posts title="相關文章" count="2" view_all_text="查看全部"]
  <!-- /wp:shortcode -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
